body{
    margin: 40px;
}
.example {
    margin: 20px;
  }
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    width: 50px;
    height: 50px;
    background-color: black;
    display: inline-block;
    color: #fff;
    font-size: 20px;
  }
  .box-4 {
    padding: 0px;
    margin-left: -5px;
    color: #fff;
  }
  .parent {
    font-size: 0;
  }
  .parent-1 {
    display: flex;
  }