section {
  padding: 20px;
  margin: 40px;
}
.flex-container,
.flex-container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 60%;
  margin-top: 2px;
  padding: 5px;
}
.flex-content,
.flex-content-1 {
  padding: 20px;
  flex-basis: 40%;
}
img {
  max-width: 100%;
}
@media (max-width: 450px) {
  .flex-container,
  .flex-container-1 {
    flex-direction: column;
    width: 100%;
  }
  section {
    margin: 0px;
    padding: 0px;
  }
}
