:root {
  --danger: #d30423;
  --src: #0641ad;
  --cow: #bc6c62;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon-box {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;
}
svg {
  transition: 0.3s ease;
}
/* 
.icon_danger:hover svg {
  color: var(--danger);
}
.icon_cow:hover svg {
  background-color: var(--cow);
}
.icon_src {
  background-color: var(--src);
} */
.icon:hover .tooltip {
  display: block;
}
.tooltip {
  padding: 10px;
  position: absolute;
  width: auto;
  white-space: nowrap;
  word-wrap: no-wrap;
  box-shadow: 1px 1px 20px #aaa;
  border-radius: 5px;
  background-color: #fff;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  z-index: 200;
  font-size: 0.9em;
  display: none;
}
/* .tooltip:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateX(-50%);
  background-color: #fff;
  left: 50%;
  top: -1px;
  z-index: 400;
}
.tooltip:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateX(-50%) translateZ(-1px);
  background-color: #fff;
  left: 50%;
  top: 0px;
  z-index: -1;
  box-shadow: -1px -1px 20px #aaa;
} */
