@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Montserrat:wght@300&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
.outer-container {
  padding: 70px;
}
.flex-container {
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.image {
  flex-basis: 60%;
}
.content {
  flex-basis: 33%;
  align-self: center;
}
.flex-container div:nth-child(even) .image {
  order: 2;
}
img {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .img {
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .outer-container {
    width: 100%;
    padding: 5px;
  }
  .flex-container div .image {
    order: 1;
  }
  .content {
    max-width: 97%;
  }
}
