.flex-container,
.flex-container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 60%;
  flex-direction: column;
  width: 100%;
}
img {
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .flex-container,
  .flex-container-1 {
    flex-direction: row;
    width: 100%;
  }
  section {
    margin: 20px;
    padding: 20px;
  }
  .flex-content {
    padding: 15px;
  }
}
