body {
  margin: 0;
  padding: 0;
}
.container {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  max-width: 400px;
  max-height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop-btn,
.clock-btn,
.btn {
  padding: 8px;
  background-color: rgb(37, 37, 190);
  border: none;
  color: white;
  margin: 30px;
}
.time {
  text-align: center;
  font-weight: 800;
  font-size: 3.5rem;
}
button:disabled {
  background-color: rgb(164, 164, 255);
}
