.watch-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
a {
  text-decoration: none;
  border: 2px solid blue;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: blue;
  font-size: 15px;
}
a:hover {
  background-color: transparent;
  border: 2px solid blue;
  color: black;
}
.card {
  margin: 20px;
  width: 250px;
  height: 250px;
  border-top: 5px solid blue;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(189, 206, 255);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
