@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.button {
  background-color: #43B97F;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
}
.container .card {
  flex-basis: 33%;
  height: 26rem;
}
.container .card figure {
  margin: 0;
  padding: 0;
}
.container .card__title {
  font-size: 2.76rem;
  font-weight: 700;
  line-height: 120%;
}
.container .card__paragraph {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: left;
  font-weight: 400;
  line-height: 180%;
}
.container .card .button {
  margin-top: 1rem;
}
.container .card .button:hover {
  background-color: #3D3E48;
}
@media only screen and (max-width: 768px) {
  .container .card {
    flex-basis: 48%;
  }
}
@media only screen and (max-width: 426px) {
  .container .card {
    flex-direction: column;
    flex-basis: 100%;
  }
}

.destination__header {
  text-align: center;
}
.destination__header__paragraph {
  font-size: 1.6rem;
  color: #295943;
  font-weight: 700;
}
.destination__header__title {
  font-size: 2.76rem;
  font-weight: 700;
  color: #3D3E48;
}
.destination .container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  margin-top: 1.5rem;
  gap: 1rem;
}
.destination .container1 .card {
  flex-basis: 30%;
  height: 35rem;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 0.3rem;
}
.destination .container1 .card__image--background {
  text-align: center;
}
.destination .container1 .card__image--background img {
  border-radius: 1rem;
}
.destination .container1 .card__title {
  font-size: 1.92rem;
  color: #3D3E48;
  font-weight: 700;
  text-align: left;
  padding: 1rem;
}
.destination .container1 .card__body {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destination .container1 .card__body--price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #295943;
}
.destination .container1 .card__body--price2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 0.6rem;
  color: #3D3E48;
}
@media only screen and (max-width: 768px) {
  .destination .card {
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 426px) {
  .destination .card {
    flex-direction: column;
    flex-basis: 100%;
  }
}

.header__title {
  font-size: 10rem;
}

.main__title {
  font-size: 4rem;
  font-weight: 400;
}
.main .grid-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "grid__item--first" "grid__item--second" "grid__item--third" "grid__item--fourth";
}
.main .grid-container .grid__item--first {
  display: flex;
}
.main .grid-container .grid__item--first .list__item--left {
  flex-basis: 30%;
}
.main .grid-container .grid__item--first .list__item--left .list1__title {
  font-size: 2.76rem;
  font-weight: 400;
  line-height: 120%;
}
.main .grid-container .grid__item--first .list__item--left .list1__para1 {
  font-size: 1.6rem;
  color: #7E7E7E;
}
.main .grid-container .grid__item--first .list__item--left .list1__para2 {
  font-size: 1.6rem;
  color: #7E7E7E;
}
.main .grid-container .grid__item--first .list__item--left .list--right__title {
  font-size: 2.76rem;
}
.main .grid-container .grid__item--first .list--right__title1 {
  font-size: 2.76rem;
}
.main .grid-container .grid__item--second {
  display: flex;
}
.main .grid-container .grid__item--second .list__item--left {
  flex-basis: 21.5%;
}
.main .grid-container .grid__item--second .list__item--left .list2__title {
  font-size: 1.92rem;
  font-weight: 400;
  line-height: 120%;
}
.main .grid-container .grid__item--second .list__item--left .list2__para1 {
  font-size: 1.6rem;
  color: #7E7E7E;
}
.main .grid-container .grid__item--second .list__item--left .list2__para2 {
  font-size: 1.6rem;
  color: #7E7E7E;
}
.main .grid-container .grid__item--second .list2--item__title2 {
  font-size: 1.92rem;
}
.main .grid-container .grid__item--third {
  display: flex;
}
.main .grid-container .grid__item--fourth {
  display: flex;
}
.main .grid__item--first {
  grid-area: grid__item--first;
}
.main .grid__item--second {
  grid-area: grid__item--second;
}
.main .grid__item--third {
  grid-area: grid__item--third;
}
.main .grid__item--fourth {
  grid-area: grid__item--fourth;
}/*# sourceMappingURL=main.css.map */