:root {
  --gray: #5e607a;
  --bg-color: #fdf8ec;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
figure {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1450px;
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  margin: auto;
  padding: 0;
  text-decoration: none;
}
.main__button a {
  color: #fff;
}

.grid-container {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-rows: 60px 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main sidebar--right" "main__body main__body1 sidebar--right" "card--one card--two card--three";
  width: 90%;
  height: 100vh;
  margin: 17px auto;
  text-align: center;
  padding: 7px;
}
.close {
  opacity: 0;
}
/* #close-checkbox {
  width: 15px;
  height: 15px;
  position: absolute;
  right:40%;
  top:5% ;
  z-index: 3;
  opacity: 0;
} */
.content_nav li a {
  font-size: 1.6rem;
}
/* navigation */
header {
  grid-area: header;
}

.label {
  display: none;
  color: white;
}

.tab-nav {
  opacity: 0;
}
/* .nav-links {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  height: 50rem;
  width: 50%;
} */

.burger {
  width: 2.2rem;
  height: 0.3rem;
  background-color: rgb(138, 109, 109);
  margin-top: 0.5rem;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
nav ul li {
  display: inline;
  padding: 0 20px;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray);
}
.mobile {
  display: none;
}
/* Main Block */
main {
  grid-area: main;
}
.main__body {
  grid-area: main__body;
}
.main__body > p {
  font-weight: 400;
  font-size: 1.5rem;
}
.main__title > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 4.3rem;
  text-align: left;
}
.main__body1 {
  grid-area: main__body1;
  width: 100%;
}
.main__para {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.002em;
  color: #5e607a;
  text-align: left;
  line-height: 2.4rem;
  font-family: "Inter";
}
.button--red {
  text-align: left;
  margin-top: 5px;
}
.main__button {
  width: 150px;
  height: 40px;
  background-color: #f15e50;
  color: white;
  border: none;
}
.main__button:hover {
  cursor: pointer;
}
.sidebar--right {
  grid-area: sidebar--right;
}
.card__content {
  text-align: justify;
  margin: auto;
  width: 92%;
  margin: auto;
  padding: 0.3rem;
}
.sidebar__title {
  font-size: 4rem;
  color: #e9ab53;
  text-align: justify;
}
.sidebar_body {
  font-size: 2rem;
  color: #fffdfa;
}
.line {
  border: 1px solid #5e607a;
  width: 99%;
  margin: auto;
  height: 0px;
}
.sidebar--right,
.card__content {
  color: #fdf8ec;
  background-color: #00001a;
}

.flex-container {
  display: flex;
}
.image--background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.card--image:hover .image--background {
  z-index: 2;
}
.card--one {
  grid-area: card--one;
}
.card--horizontal {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
}
.card__title {
  text-align: justify;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  height: 30%;
  margin: 0;
  padding: 0;
  color: #c5c6ce;
}
.card__para1 {
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 30%;
  font-weight: 800;
  font-size: 2rem;
  color: #00001a;
  text-align: center;
}
.card__para2 {
  height: 50%;
  font-size: 1.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  margin-top: 0.5rem;
}

.card--two {
  grid-area: card--two;
}
.card--three {
  grid-area: card--three;
}

@media screen and (max-width: 1440px) {
  .grid-container {
    width: clamp(343px, 100%, 1200px);
  }
}
@media screen and (max-width: 768px) {
  .card__para1 {
    font-size: 1rem;
    width: 100%;
    text-align: left;
  }
  .card__para2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 430px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 130px 0.4fr 0.4fr;
    grid-template-areas:
      "header"
      "main"
      "main__body"
      "main__body1"
      "card--one"
      "card--two"
      "card--three"
      "sidebar--right";
  }
  .tab-nav {
    opacity: 0;
    position: absolute;
    right: 1rem;
    top: 2rem;
    height: 3rem;
    z-index: 2;
  }
  .label {
    position: absolute;
    right: 2rem;
    top: 2.4rem;
    display: block;
    z-index: 1;
  }
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 3rem;
    background-color: var(--bg-color);
    height: 50rem;
    width: 50%;
    text-align: left;
  }
  .nav-links .content_nav li {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .tab-nav:checked ~ .nav-links {
    display: block;
  }
  .tab-nav:checked ~ .label {
    display: none;
  }
  .tab-nav:checked ~ .close {
    opacity: 1;
  }
  .close {
    display: block;
    z-index: 5;
  }
  /* .close:checked ~ .nav-links {
    display: none;
  } */
  /* #close-checkbox:checked ~ .nav-links {
    display: none;
  } */
}
